<%- include("partials/header"); -%>
<%- include("partials/nav"); -%>

<main class="container is-centered">
<section class="section">
    <h1 class="title is-1">Almost there</h1>
    <h2 class="subtitle i-3">Check your inbox to complete your registration!</h2>
</section>
</main>

<%- include("partials/footer"); -%>
