<%- include("partials/header"); -%>
<%- include("partials/nav") -%>

<script type="text/javascript">
  var data = new FormData();
  var uploadBtn = document.createElement("input");
  uploadBtn.setAttribute("type", "file");
  uploadBtn.setAttribute("name", "profilePic");
  uploadBtn.setAttribute("accept", "image/*");


</script>

<script type="text/javascript">

</script>

<main class="container is-fullheight">
    <section class="section">
        <div class="columns is-centered form">
            
        </div>
    </section>
</main>

<script>

</script>
<script src="../js/userCheck.js"></script>
<%- include("partials/footer"); -%>
