<%- include("partials/header"); -%>
<%- include("partials/nav"); -%>

<main class="container is-centered has-text-centered is-vcentered">
    <section class="section">
        <h1 class="title is-2">Check your inbox</h1>
        <h2 class="subtitle is-5">We send you a link with to reset your password</h2>
    </section>
</main>



<%- include("partials/footer"); -%>
