<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/share.css">
<% if(authenticated) { %>
<%- include("partials/navUser"); -%>
<% } else { %>
<%- include("partials/nav") -%>
<% } %>

<main class="container">
<div class="form">
  
  <section class="section">
  <h1 class="">Share Your Cooking</h1>
  <div class='select is-medium' id="kind"><select class="kind"><option value='' disabled selected>Kind of recipe</option><option value="breakfast">breakfast</option><option value="lunch">lunch</option><option value="dinner">dinner</option><option value="desert">desert</option><option value="snack">snack</option></select></div>

  <div class="columns">
    <div class="imgUpload column is-6">
      <img id="imgPreview">
      <input type="file" name="imgUpload" id="imgUpload" class="uploadFile" accept="image/*" onchange="loadFile(event)">
      <label for="imgUpload" id="uploadLabel">Upload image</label>
    </div>



    <div class="column">
      <div class="columns">

          <div class="field column is-4 is-offset-1">
            <div class="control">
              <label class="label">Cooking time</label>
              <input class="input is-medium" id="cookingTime" name="cookingTime" type="text" placeholder="eg: 30 minutes">
            </div>
          </div>

          <div class="field column is-4 is-offset-1">
            <div class="control">
              <label class="label">Servings</label>
              <input class="input is-medium" id="servings" name="servings" type="text" placeholder="how many people?" onkeypress="return restrictCharacters(this, event, digitsOnly);">
            </div>
          </div>

      </div>
      <div class="columns">
        <div class="field column is-9 is-offset-1">
          <div class="control">
            <label class="label">Dish Name</label>
            <input class="input is-medium" id="dishName" name="dishName" type="text" placeholder="what are you cooking?"  maxlength="20" onkeypress="return restrictCharacters(this, event, alphaOnly);">
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="field-body column is-9 is-offset-1">
          <div class="field">
            <div class="control">
              <label class="label">Description</label>
              <textarea class="textarea" name="description" id="description" placeholder="some more information"></textarea>
            </div>
          </div>
        </div>        
      </div>

    </div>
  </div>
  </section>

  <section class="section">
  <div class="ingredients">

    <h2 class="title is-2">Ingredients</h2>
    <h2 class="subtitle is-5">What do you need?</h2>
    <div class="ingredientC columns">
      <div class="field-body column is-3 is-6-mobile">
        <div class="control">
          <label class="label">Amount</label>
          <input type="number" class="input amount is-medium" name="amount" placeholder="amount" onkeypress="return restrictCharacters(this, event, floatOnly);">
        </div>
      </div>

      <div class="field-body column is-narrow is-6-mobile">
        <div class="control">
          <label class="label">Measure</label>
          <div class='select is-medium'><select class="measure"><option value='' disabled selected>Select</option><option val='kg'>kg</option><option val='g'>g</option><option val='ounce'>ounce</option><option val='pound'>pound</option><option val='dl'>dl</option><option val='l'>l</option><option val='ml'>ml</option><option val='cup(s)'>cup(s)</option><option val='tblsp'>tblsp</option><option val='tsp'>tsp</option></select></div>
        </div>
      </div>

      <div class="field-body column is-4 is-10-mobile">
        <div class="columns">
          <div class="control column is-10-desktop">
            <label class="label">Ingredient</label>
            <input type="text" class="input ingredient is-medium" name="ingredient" placeholder="ingredient">
          </div>
        </div>
      </div>
    </div>
    <div class="is-divider"></div>
    <div class="ingredientC columns">

      <div class="field-body column is-3 is-6-mobile">
        <div class="control">
          <label class="label is-hidden-tablet">Amount</label>
          <input type="number" class="input amount is-medium" name="amount" placeholder="amount" onkeypress="return restrictCharacters(this, event, floatOnly);">
        </div>
      </div>

      <div class="field-body column is-narrow is-6-mobile">
        <div class="control">
          <label class="label is-hidden-tablet">Measure</label>
          <div class='select is-medium'><select class="measure"><option value='' disabled selected>Select</option><option val='kg'>kg</option><option val='g'>g</option><option val='ounce'>ounce</option><option val='pound'>pound</option><option val='dl'>dl</option><option val='l'>l</option><option val='ml'>ml</option><option val='cup(s)'>cup(s)</option><option val='tblsp'>tblsp</option><option val='tsp'>tsp</option></select></div>
        </div>
      </div>

      <div class="field-body column is-4 is-10-mobile">
        <div class="columns">
          <div class="control column is-10-desktop">
            <label class="label is-hidden-tablet">Ingredient</label>
            <input type="text" class="input ingredient is-medium" name="ingredient" placeholder="ingredient">
          </div>
          <div class="field-body deleteIng column is-2-desktop">
            <div class="control">
              <button class="button is-medium is-danger is-inverted" onclick="deleteIng(this)">
                <span class="icon is-small">
                  <i class="fas fa-times"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ingredientC columns">
      <div class="field-body column is-3 is-6-mobile">
        <div class="control">
          <label class="label is-hidden-tablet">Amount</label>
          <input type="number" class="input amount is-medium" name="amount" placeholder="amount" onkeypress="return restrictCharacters(this, event, floatOnly);">
        </div>
      </div>

      <div class="field-body column is-narrow is-6-mobile">
        <div class="control">
          <label class="label is-hidden-tablet">Measure</label>
          <div class='select is-medium'><select class="measure"><option value='' disabled selected>Select</option><option val='kg'>kg</option><option val='g'>g</option><option val='ounce'>ounce</option><option val='pound'>pound</option><option val='dl'>dl</option><option val='l'>l</option><option val='ml'>ml</option><option val='cup(s)'>cup(s)</option><option val='tblsp'>tblsp</option><option val='tsp'>tsp</option></select></div>
        </div>
      </div>

      <div class="field-body column is-4 is-10-mobile">
        <div class="columns">
          <div class="control column is-10-desktop">
            <label class="label is-hidden-tablet">Ingredient</label>
            <input type="text" class="input ingredient is-medium" name="ingredient" placeholder="ingredient">
          </div>
          <div class="field-body deleteIng column is-2-desktop">
            <div class="control">
              <button class="button is-medium is-danger is-inverted" onclick="deleteIng(this)">
                <span class="icon is-small">
                  <i class="fas fa-times"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="field-body column">
    <div class="control">
      <button class="button add is-medium is-rounded is-success" onclick="addIngredient()">
        <span>Add Ingredient</span>
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
      </button>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="title is-2">Method</h2>
  <h2 class="subtitle is-5">How do you make it?</h2>  
  <div class="method">
    <div class="columns">
      <div class="field-body instructionC column is-10">
        <div class="columns is-vcentered is-mobile">
          <div class="column is-10">
            <div class="control">
              <label class="label count">1</label>
              <input type="text" class="input instruction is-medium is-full-width" name="instruction" placeholder="instruction">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="field-body instructionC column is-10">
        <div class="columns is-vcentered is-mobile">
          <div class="column is-10">
            <div class="control">
              <label class="label count">2</label>
              <input type="text" class="input instruction is-medium" name="instruction" placeholder="instruction">
            </div>
          </div>
          <div class="column is-2">
            <div class="field-body column deleteIng">
              <div class="control">
                <label class="label">&nbsp;</label>
                <button class="button is-medium is-danger is-inverted has-icon-left" onclick="deleteIns(this)">
                  <span class="icon is-small">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>          
        </div>
      </div> 
    </div>

    <div class="columns">
      <div class="field-body instructionC column is-10">
        <div class="columns is-vcentered is-mobile">
          <div class="column is-10">
            <div class="control">
              <label class="label count">3</label>
              <input type="text" class="input instruction is-medium" name="instruction" placeholder="instruction">
            </div>
          </div>
          <div class="column is-2">
            <div class="field-body column deleteIng">
              <div class="control">
                <label class="label">&nbsp;</label>
                <button class="button is-medium is-danger is-inverted" onclick="deleteIns(this)">
                  <span class="icon is-small">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>          
        </div>
      </div> 
    </div>
  </div>

  <div class="field-body column">
    <div class="control">
      <button class="button add is-medium is-rounded is-success" onclick="addInstruction()">
        <span>Add Instruction</span>
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
      </button>
    </div>
  </div>
  </section>

  <section class="section">
    <div id="keywordsC">
      <h2 class="title is-2">Keywords</h2>
      <h2 class="subtitle is-5">Describe your recipe in 3 words</h2>
    <div class="columns subtitle">
      <div class="column is-6">
        <input type="text" name="keywords" value="" id="keywords" class="input is-large keywords" placeholder="@vegetarian, @easy, @yummy" onkeypress="if(ats >= 3) { return restrictCharacters(this, event, alphaOnly)}">
        <p class="help">- Start your keywords with '@' and seperate them with ','</p>
        <p class="help">- You can only enter 3 keywords</p>

      </div>
    </div>
  </div>
  </section>

  <section class="section">
    <h2 class="title is-2">Origin</h2>
    <h2 class="subtitle is-5">Connect your recipe with a country (optional)</h2>
    <div class="columns">
      <div class="field-body column is-4">
        <div class="control">
          <label class="label">Country</label>
          <div class="select is-medium">
          <select id="country" name="country">
            <option value="default" disabled selected>select a country</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Antigua-and-barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia-and-Herzegovina">Bosnia and Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <option value="Brazil">Brazil</option>
            <option value="Brunei">Brunei</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina-Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Cape-Verde">Cape Verde</option>
            <option value="Central-African-Republic">Central African Republic</option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo">Congo</option>
            <option value="congo-democratic-republic-of-the">Congo, The Democratic Republic of The</option>
            <option value="Costa-Rica">Costa Rica</option>
            <option value="Cote-D-ivoire">Cote D'ivoire</option>
            <option value="Croatia">Croatia</option>
            <option value="Cuba">Cuba</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech-Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican-Republic">Dominican Republic</option>
            <option value="East-Timor">East Timor</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El-Salvador">El Salvador</option>
            <option value="Equatorial-Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Greece">Greece</option>
            <option value="Grenada">Grenada</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-bissau">Guinea-bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Honduras">Honduras</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Kosovo">Kosovo</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Laos">Laos</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libya">Libya</option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macedonia">Macedonia</option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
            <option value="Malta">Malta</option>
            <option value="Marshall-Islands">Marshall Islands</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mexico">Mexico</option>
            <option value="Micronesia">Micronesia</option>
            <option value="Moldova">Moldova</option>
            <option value="Monaco">Monaco</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Montenegro">Montenegro</option>
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Namibia">Namibia</option>
            <option value="Nauru">Nauru</option>
            <option value="Nepal">Nepal</option>
            <option value="Netherlands">Netherlands</option>
            <option value="New-Zealand">New Zealand</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Niue">Niue</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Palau">Palau</option>
            <option value="Panama">Panama</option>
            <option value="Papua-New-Guinea">Papua New Guinea</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Qatar">Qatar</option>
            <option value="Romania">Romania</option>
            <option value="Russian">Russian</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Saint-Kitts-and-Nevis">Saint Kitts and Nevis</option>
            <option value="Saint-Lucia">Saint Lucia</option>
            <option value="Saint Vincent-and-The-Grenadines">Saint Vincent and The Grenadines</option>
            <option value="Samoa">Samoa</option>
            <option value="San Marino">San Marino</option>
            <option value="Sao-Tome-and-Principe">Sao Tome and Principe</option>
            <option value="Saudi-Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <option value="Seychelles">Seychelles</option>
            <option value="Sierra-Leone">Sierra Leone</option>
            <option value="Singapore">Singapore</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Solomon-Islands">Solomon Islands</option>
            <option value="Somalia">Somalia</option>
            <option value="South-Africa">South Africa</option>
            <option value="South-Korea">South Korea</option>
            <option value="South-Sudan">South Sudan</option>
            <option value="Spain">Spain</option>
            <option value="Sri-Lanka">Sri Lanka</option>
            <option value="Sudan">Sudan</option>
            <option value="Suriname">Suriname</option>
            <option value="Swaziland">Swaziland</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syria">Syria</option>
            <option value="Taiwan">Taiwan</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Tanzania">Tanzania</option>
            <option value="Thailand">Thailand</option>
            <option value="Togo">Togo</option>
            <option value="Tonga">Tonga</option>
            <option value="Trinidad-and-Tobago">Trinidad and Tobago</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Turkey">Turkey</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <option value="Tuvalu">Tuvalu</option>
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United-Arab-Emirates">United Arab Emirates</option>
            <option value="United-Kingdom">United Kingdom</option>
            <option value="United-States-of-america">United States of Amercia</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Vatican-city">Vatican City</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Vietnam">Vietnam</option>
            <option value="Yemen">Yemen</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
        </select>
        </div>
        </div>
      </div>  
      <div class="field-body column is-4">
        <div class="control">
          <label class="label count">Region (optional)</label>
          <input type="text" class="input instruction is-medium" name="instruction" placeholder="" id="region">
        </div>
      </div>   
    </div>
    <div class="columns">
      <div class="field-body column is-3 create">
        <div class="control">
          <button class="button is-large" onclick="checkFields()">
            <span class="icon is-medium">
              <i class="fas fa-arrow-circle-right"></i>
            </span>
            <span>Create Recipe</span>
          </button>
        </div>
      </div>
    </div>
  </section>
    
</div>

</main>


<script src="/js/share.js"></script>

<%- include("partials/footer"); -%>
