<%- include("partials/header"); -%>
<% if(authenticated) { %>
<%- include("partials/navUser"); -%>
<% } else { %>
<%- include("partials/nav") -%>
<% } %>

<h1>Welcome back!</h1>

<%- include("partials/footer"); -%>
